ZapGastos.json
{
  "name": "ZapGastos",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send_message",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4360,
        -660
      ],
      "id": "1158d8c7-8558-4712-a997-642b3134d2ad",
      "name": "Webhook",
      "webhookId": "43c7c0a6-ed45-4396-bb5f-c156c201663d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.zapgastos.com.br/message/sendText/ZapGastos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "16292D45B219-4996-B831-820C25C58B46"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"({{ \n                        ($('Webhook').item.json.body.data.id || \n                         $('Webhook').item.json.body.data.key.remoteJid).split(\"@\")[0] \n                        }}\",\n    \"text\": \"Você ainda não tem cadastro no ZapGastos, cadastre se agora e aproveite nossos serviços. Mais informações em www.zapgastos.com.br\"\n  }\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4180,
        -300
      ],
      "id": "8bac1908-b8f0-4274-8a92-8b0e5ce9cb56",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "63b8951a-a71d-424e-aec5-d691ed80fcf0",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "5ac77fb6-7fde-4f51-8bd7-6c062ac871bd",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3980,
        -660
      ],
      "id": "d57f476e-2053-4120-8647-9561b425e80d",
      "name": "IF cadastro",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d2df610-9bda-428e-beeb-31ee961b9961",
              "name": "mensagem",
              "value": "={{ $('Webhook').item.json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3420,
        -760
      ],
      "id": "7e5ea707-f264-4017-97c2-9858928fc328",
      "name": "Mensagem de texto"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a07f9bc-4e3f-4856-a93f-a270729dec7c",
              "name": "mensagem",
              "value": "={{ $json.mensagem }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3140,
        -680
      ],
      "id": "fc5d44db-f11b-4b48-a10b-691c9e4ff15c",
      "name": "Mapeamento mensagem"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{                          ($('Webhook').item.json.body.data.id ||                           $('Webhook').item.json.body.data.key.remoteJid).split(\"@\")[0]                          }}"
            },
            {
              "keyName": "status_pagamento",
              "keyValue": "ativo"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4160,
        -660
      ],
      "id": "469cc0a7-f60c-4843-949b-a9f9c6e4b886",
      "name": "consult_user",
      "credentials": {
        "supabaseApi": {
          "id": "pEqq82qbbdtqf9Qh",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "tableName": {
          "__rl": true,
          "value": "expressions_embeddings",
          "mode": "list",
          "cachedResultName": "expressions_embeddings"
        },
        "prompt": "={{ $json.msg_normalizada }}",
        "topK": 1,
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -2720,
        -760
      ],
      "id": "4017c2c1-6b5c-4b54-ae70-1ea50fd3c5c1",
      "name": "Supabase Vector Store",
      "notesInFlow": false,
      "credentials": {
        "supabaseApi": {
          "id": "pEqq82qbbdtqf9Qh",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2700,
        -640
      ],
      "id": "f07349d4-5474-4749-8964-27386085c53f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "UJh6idi8lkh9sxaR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nfor (const item of $input.all()) {\n  item.json.msg_normalizada = item.json.mensagem.replace(/\\d+(,\\d+)?/g, \"[VALOR]\");\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3020,
        -820
      ],
      "id": "f89ae5ed-a4a3-4692-95b3-e52f1127ece7",
      "name": "Code1"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2700,
        -540
      ],
      "id": "da253021-c67c-4d86-822c-ea6747e9ba6b",
      "name": "Merge2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intencao }}",
                    "rightValue": "insercao",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c544486c-8606-4c15-bee6-449b911fcb17"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "64eaa0a1-19b1-488f-99a0-a4ee8fd8a1ba",
                    "leftValue": "={{ $json.intencao }}",
                    "rightValue": "relatorio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1720,
        -660
      ],
      "id": "1e533e52-4d46-4db1-8ca7-fd94c1c76fae",
      "name": "Switch3"
    },
    {
      "parameters": {
        "jsCode": "return  JSON.parse($input.first().json.message.content)"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1960,
        -540
      ],
      "id": "8bbcad2f-85dd-4600-a1fc-fc66a8be119f",
      "name": "Code2"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1420,
        -540
      ],
      "id": "f0eaddfc-dd39-4241-beb8-f58cca2c14ce",
      "name": "Merge3"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n\"intencao\": \"{{ $json.document.metadata.intencao }}\",\n\"tipo\": \"{{ $json.document.metadata.tipo }}\",\n\"categoria\": \"{{ $json.document.metadata.categoria }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1960,
        -780
      ],
      "id": "2bd09ab9-7c6f-45bf-9bd6-0ca424979533",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "BCrXX8t1jD2zZ10S",
          "mode": "list",
          "cachedResultName": "generate_text_from_audio"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -3340,
        -560
      ],
      "id": "3ce09499-6d6f-4c4d-b96d-086d3f014d9c",
      "name": "Execute Workflow audio"
    },
    {
      "parameters": {
        "jsCode": "return [ {\n  api_key: $('Webhook').item.json.body.apikey,\n  id: $('Webhook').first().json.body.data.key.id\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3680,
        -560
      ],
      "id": "b979a241-98a0-482d-8ddd-3b57896b5fa7",
      "name": "PrepareConvertion"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5e623904-46c2-474a-bd63-7ece6617e75c"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c35267d9-cd24-4c52-b021-216e6b4f58c5",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "allMatchingOutputs": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3680,
        -760
      ],
      "id": "4aa2ddd6-c7bf-4a16-8498-ca86f65c444c",
      "name": "Define_tipo_msg",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MsTLTTODkNFYwvEL",
          "mode": "list",
          "cachedResultName": "insert_transactions"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -940,
        -780
      ],
      "id": "e8a58a60-82b8-4ae2-935b-4e524422bb78",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd0f3b9f-5359-4ec7-8a48-eae88cefa35d",
              "name": "intencao",
              "value": "={{ $json.intencao }}",
              "type": "string"
            },
            {
              "id": "64482fc8-7ea9-49ea-af78-f8006c3443c0",
              "name": "tipo",
              "value": "={{ $json.tipo }}",
              "type": "string"
            },
            {
              "id": "0f9baea6-23e1-4730-ba53-a725eb8073e8",
              "name": "categoria",
              "value": "={{ $json.categoria }}",
              "type": "string"
            },
            {
              "id": "20a72802-0ee6-4a59-8cac-b9313e9f20ee",
              "name": "mensagem",
              "value": "={{ $('Mapeamento mensagem').item.json.mensagem }}",
              "type": "string"
            },
            {
              "id": "a1367647-695a-4482-beb9-6335876d6947",
              "name": "id",
              "value": "={{ $('consult_user').item.json.id }}",
              "type": "string"
            },
            {
              "id": "b86d65b0-b059-4b96-ba9f-5fe92b4f6ad6",
              "name": "messageType",
              "value": "={{ $('Webhook').item.json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "1d9daf49-9450-49bc-b6fd-b54b583fe1e5",
              "name": "telefone",
              "value": "={{ $('consult_user').item.json.telefone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1180,
        -780
      ],
      "id": "80102103-2baa-4c2c-be4b-03358cda6bae",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "dTOV9XqmGu3TvVmf",
          "mode": "list",
          "cachedResultName": "send_reports"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -920,
        -540
      ],
      "id": "214e64dc-0a0c-432e-a778-ae39f07e63f1",
      "name": "Execute Workflow1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7458d85d-c6e6-4885-9e14-bfd4990a6c60",
              "name": "tipo",
              "value": "={{ $json.tipo }}",
              "type": "string"
            },
            {
              "id": "06fd2b45-6a01-46e9-ab16-2cda96a7fd9e",
              "name": "categoria",
              "value": "={{ $json.categoria }}",
              "type": "string"
            },
            {
              "id": "c4a2ec0f-80db-4e51-988e-1fca882aa3d5",
              "name": "user_id",
              "value": "={{ $('consult_user').item.json.id }}",
              "type": "string"
            },
            {
              "id": "6a08d02d-1986-4b06-9398-c4363b5c0f41",
              "name": "telefone",
              "value": "={{ $('consult_user').item.json.telefone }}",
              "type": "string"
            },
            {
              "id": "fe13f860-3ae1-459f-adeb-40985cde6e80",
              "name": "mensagem",
              "value": "={{ $('Mapeamento mensagem').item.json.mensagem }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1200,
        -540
      ],
      "id": "65734b9c-9f4c-42df-8eb0-72dfb2cd61e3",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "content": "Stage 1 - Recebimento de mensagem e conferencia de Cadastro",
        "height": 420,
        "width": 680,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4440,
        -840
      ],
      "id": "7d2db7e5-39e5-40ef-8930-65eed8d1af94",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Padronização da mensagem",
        "height": 420,
        "width": 840
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3740,
        -840
      ],
      "id": "2e789099-5c9e-4117-8b19-7ab78d43598b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Geração IA - Embeddings ou padrão",
        "height": 420,
        "width": 840,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2880,
        -840
      ],
      "id": "1bffeaef-ba11-4553-852c-a076523c1cfc",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.score }}",
                    "rightValue": 0.9,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    },
                    "id": "daf37e20-01f9-4871-8992-daedeb6e448e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ec74b949-4bec-4463-8741-0c50985745bb",
                    "leftValue": "={{ $json.score }}",
                    "rightValue": 0.9,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2340,
        -760
      ],
      "id": "a97e2e71-bb0a-469c-a810-8d1de196bfec",
      "name": "use_embedding_defination"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "Defina na mensagem se ela é inserção ou relatorio (intencao), se ela é despesa ou receita (tipo), e qual a categoria e retorne um json\n",
              "role": "system"
            },
            {
              "content": "={{ $json.mensagem }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2440,
        -540
      ],
      "id": "af1322ba-6b89-4b42-99fc-63d0e1c1e120",
      "name": "ia_categorization",
      "credentials": {
        "openAiApi": {
          "id": "UJh6idi8lkh9sxaR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "Fluxo de Inserção de Transações",
        "height": 240,
        "width": 500,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1220,
        -840
      ],
      "id": "1cce8921-05c7-4d13-b19b-ee9e76fc9f4a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "Fluxo de envio de relatórios",
        "height": 220,
        "width": 720,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1440,
        -580
      ],
      "id": "018275ef-dff8-4afd-a6bd-d0965414fe91",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "Definição de rota e ajustes",
        "height": 480,
        "width": 540,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2000,
        -840
      ],
      "id": "9e8a46de-d04b-4fd3-a497-6bde006c0daf",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.zapgastos.com.br",
            "user-agent": "axios/1.7.9",
            "content-length": "987",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "18.224.65.57",
            "x-forwarded-host": "n8n.zapgastos.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "d060451b74d5",
            "x-real-ip": "18.224.65.57"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "ZapGastos",
            "data": {
              "key": {
                "remoteJid": "5521999839393@s.whatsapp.net",
                "fromMe": false,
                "id": "3EB0A83F837EC2319478A3"
              },
              "pushName": "Guilherme Sá",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "qual foi minha despesa com Pix Recebido esse mês?",
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "HIGIQOZPaBU4HA==",
                    "senderTimestamp": "1752936697",
                    "senderAccountType": "E2EE",
                    "receiverAccountType": "E2EE",
                    "recipientKeyHash": "zXAH3FXnjDSXfg==",
                    "recipientTimestamp": "1752689357"
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": "yR1mAEw+tZq6VvkvvGZipRRtjhA0TNzxE6UrQVL0zAU="
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1753309716,
              "instanceId": "831e18af-44a0-4e46-b359-7e6ea03f0bb7",
              "source": "web"
            },
            "destination": "https://n8n.zapgastos.com.br/webhook/send_message",
            "date_time": "2025-07-23T19:28:36.403Z",
            "sender": "5521971270342@s.whatsapp.net",
            "server_url": "https://evolution.zapgastos.com.br",
            "apikey": "16292D45B219-4996-B831-820C25C58B46"
          },
          "webhookUrl": "https://n8n.zapgastos.com.br/webhook/send_message",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "consult_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF cadastro": {
      "main": [
        [
          {
            "node": "Define_tipo_msg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem de texto": {
      "main": [
        [
          {
            "node": "Mapeamento mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapeamento mensagem": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consult_user": {
      "main": [
        [
          {
            "node": "IF cadastro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "use_embedding_defination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "ia_categorization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Execute Workflow audio": {
      "main": [
        [
          {
            "node": "Mapeamento mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepareConvertion": {
      "main": [
        [
          {
            "node": "Execute Workflow audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define_tipo_msg": {
      "main": [
        [
          {
            "node": "Mensagem de texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PrepareConvertion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "use_embedding_defination": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ia_categorization": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c4a345d1-13e2-429b-9664-3620429157e6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "98062e769af090faae5619eb079769b8704b3e6c0500762cc10426505101dd1f"
  },
  "id": "o0pQ5FkQDjNIfS38",
  "tags": []
}